* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  font-size: 62.5%;
  font-weight: 100;
  font-family: "Courier New", Courier, monospace;
}

/* FORM STYLES */

.form {
  animation: animate-shadow 4s infinite alternate;
  width: 30%;
  margin: 5% auto;
  padding: 3rem 4rem;
  border-radius: 4%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  z-index: -3;
}

.input {
  width: 100%;
  margin: 0 auto;
  padding: 0.2rem;
}

/* hide canvas so we just see the uploaded image in the cube */
canvas {
  display: none;
}

/* CUBE STYLES */

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  /* for the 3D CSS */
  transform-style: preserve-3d;
  /* if we turn away from the camera view this gets hidden: */
  backface-visibility: hidden;
  transform: rotateX(90deg) rotateY(30deg);
  box-shadow: -18px 20px 20px 20px rgb(255 0 247);
  z-index: -1;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 200px;
}

.cover {
  transform: translateX(-50%) translateY(-50%) translateZ(100px) rotate(180deg);
}

.spine {
  transform: translateX(-50%) translateY(-50%) rotateY(-90deg) translateZ(100px)
    rotate(180deg);
}

.top {
  transform: translateX(-50%) translateY(-50%) rotateY(-180deg)
    translateZ(100px) rotate(180deg);
}
.back {
  transform: translateX(-50%) translateY(-50%) rotateX(90deg) translateZ(100px)
    rotate(180deg);
}

.side {
  transform: translateX(-50%) translateY(-50%) rotateY(90deg) translateZ(100px)
    rotate(180deg);
}

.bottom {
  transform: translateX(-50%) translateY(-50%) rotateX(-90deg) translateZ(100px)
    rotate(180deg);
}

/* KEYFRAMES FOR ANIMATED BORDER */

@keyframes animate-shadow {
  0% {
    box-shadow: inset -0.9rem -0.9rem 1rem rgb(0 255 66 / 50%),
      inset 0.9rem 0.9rem 1rem rgb(228 255 0 / 93%),
      inset 0.9rem -0.9rem 1rem rgb(90 98 255 / 73%),
      inset -0.9rem 0.9rem 1rem rgb(255 0 247);
  }
  100% {
    box-shadow: inset 0.9rem 0.9rem 1rem rgb(228 255 0 / 93%),
      inset 0.9rem -0.9rem 1rem rgb(90 98 255 / 73%),
      inset -0.9rem 0.9rem 1rem rgb(255 0 247),
      inset -0.9rem -0.9rem 1rem rgb(0 255 66 / 50%);
  }
}
